@import 'bootstrap-reboot.css';
@import 'layout.module.css';
@import 'extend.module.css';
/*@font-face {*/
/*	font-family: '-PingFangSC-Regular';*/
/*	src: url('../font/PingFangSC-Regular.ttf');*/
/*	font-weight: normal;*/
/*	font-style: normal;*/
/*}*/
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-family: -PingFangSC-Regular, sans-serif;*/
	font-family: -PingFangSC-Regular, 'PingFang SC', apple-system, BlinkMacSystemFont, 'Segoe UI', 'Hiragino Sans GB',
		'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ol,
li,
ul,
dl,
dt,
dd {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
strong {
	font-weight: normal;
}

img {
	vertical-align: middle;
	border: none;
	width: 100%;
}

i {
	font: inherit;
}

a {
	color: #fff;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: transparent;
}

a:hover {
	text-decoration: underline;
	outline: none;
}

select::-ms-expand {
	display: none;
}

a:active,
a:hover {
	outline: 0;
}

.clearfix::before,
.clearfix::after {
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

input,
select,
option {
	vertical-align: middle;
	border-radius: 0px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
}

input[type='text'],
input[type='button'],
input[type='submit'],
input[type='reset'] {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	outline: none;
}

.overflow {
	overflow: hidden;
}

.drawer-confirm-button {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	height: 80px;
	box-shadow: 10px 0px 10px 0px rgba(214, 214, 214, 0.5);
	z-index: 99;
}

.drawer-form {
	max-height: calc(100vh - 140px);
	overflow: auto;
	padding: 24px;
}

.drawer-close-icon {
	display: inline-block;
	width: 34px;
	height: 34px;
}

/* common text-align */
.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

/* common float */
.fl {
	float: left !important;
}

.fr {
	float: right !important;
}

/* common font-weight*/
.fw400 {
	font-weight: 400 !important;
}

.fw500 {
	font-weight: 500 !important;
}

.fw600 {
	font-weight: 600 !important;
}

/* common line-height */
.lh14 {
	line-height: 14px !important;
}

.lh16 {
	line-height: 16px !important;
}

.lh20 {
	line-height: 22px !important;
}

.lh22 {
	line-height: 22px !important;
}

.lh30 {
	line-height: 30px !important;
}

.lh32 {
	line-height: 32px !important;
}

.lh33 {
	line-height: 33px !important;
}

.lh58 {
	line-height: 58px !important;
}

/* common padding */
.p0 {
	padding: 0 !important;
}

.p5 {
	padding: 5px !important;
}

.p8 {
	padding: 8px !important;
}

.p10 {
	padding: 10px !important;
}

.p16 {
	padding: 16px !important;
}

.p20 {
	padding: 20px !important;
}

.p24 {
	padding: 24px !important;
}

.p32 {
	padding: 32px !important;
}

.p48 {
	padding: 48px !important;
}

.pt0 {
	padding-top: 0 !important;
}

.pb0 {
	padding-bottom: 0 !important;
}

.pl0 {
	padding-left: 0 !important;
}

.pr0 {
	padding-right: 0 !important;
}

.pt5 {
	padding-top: 5px !important;
}

.pb5 {
	padding-bottom: 5px !important;
}

.pl5 {
	padding-left: 5px !important;
}

.pr5 {
	padding-right: 5px !important;
}

.pt8 {
	padding-top: 8px !important;
}

.pb8 {
	padding-bottom: 8px !important;
}

.pl8 {
	padding-left: 8px !important;
}

.pr8 {
	padding-right: 8px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pl10 {
	padding-left: 10px !important;
}

.pr10 {
	padding-right: 10px !important;
}

.pt12 {
	padding-top: 12px !important;
}

.pb12 {
	padding-bottom: 12px !important;
}

.pl12 {
	padding-left: 12px !important;
}

.pr12 {
	padding-right: 12px !important;
}

.pt15 {
	padding-top: 15px !important;
}

.pb15 {
	padding-bottom: 15px !important;
}

.pl15 {
	padding-left: 15px !important;
}

.pr15 {
	padding-right: 15px !important;
}

.pt16 {
	padding-top: 16px !important;
}

.pb16 {
	padding-bottom: 16px !important;
}

.pl16 {
	padding-left: 16px !important;
}

.pr16 {
	padding-right: 16px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pl20 {
	padding-left: 20px !important;
}

.pr20 {
	padding-right: 20px !important;
}

.pt24 {
	padding-top: 24px !important;
}

.pb24 {
	padding-bottom: 24px !important;
}

.pl24 {
	padding-left: 24px !important;
}

.pr24 {
	padding-right: 24px !important;
}

.pt30 {
	padding-top: 30px !important;
}

.pb30 {
	padding-bottom: 30px !important;
}

.pl30 {
	padding-left: 30px !important;
}

.pr30 {
	padding-right: 30px !important;
}

.pt32 {
	padding-top: 32px !important;
}

.pb32 {
	padding-bottom: 32px !important;
}

.pl32 {
	padding-left: 32px !important;
}

.pr32 {
	padding-right: 32px !important;
}

.pt48 {
	padding-top: 48px !important;
}

.pb48 {
	padding-bottom: 48px !important;
}

.pl48 {
	padding-left: 48px !important;
}

.pr48 {
	padding-right: 48px !important;
}

/* common margin */

.m0 {
	margin: 0 !important;
}

.m5 {
	margin: 5px !important;
}

.m8 {
	margin: 8px !important;
}

.m10 {
	margin: 10px !important;
}

.m16 {
	margin: 16px !important;
}

.m20 {
	margin: 20px !important;
}

.m24 {
	margin: 24px !important;
}

.m32 {
	margin: 32px !important;
}

.m48 {
	margin: 48px !important;
}

.mt0 {
	margin-top: 0 !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.ml0 {
	margin-left: 0 !important;
}

.mr0 {
	margin-right: 0 !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.ml5 {
	margin-left: 5px !important;
}

.mr5 {
	margin-right: 5px !important;
}

.mt8 {
	margin-top: 8px !important;
}

.mb8 {
	margin-bottom: 8px !important;
}

.ml8 {
	margin-left: 8px !important;
}

.mr8 {
	margin-right: 8px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.mr10 {
	margin-right: 10px !important;
}

.mt12 {
	margin-top: 12px !important;
}

.mb12 {
	margin-bottom: 12px !important;
}

.ml12 {
	margin-left: 12px !important;
}

.mr12 {
	margin-right: 12px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.ml15 {
	margin-left: 15px !important;
}

.mr15 {
	margin-right: 15px !important;
}

.mt16 {
	margin-top: 16px !important;
}

.mb16 {
	margin-bottom: 16px !important;
}

.ml16 {
	margin-left: 16px !important;
}

.mr16 {
	margin-right: 16px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.mr20 {
	margin-right: 20px !important;
}

.mt24 {
	margin-top: 24px !important;
}

.mb24 {
	margin-bottom: 24px !important;
}

.ml24 {
	margin-left: 24px !important;
}

.mr24 {
	margin-right: 24px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.ml30 {
	margin-left: 30px !important;
}

.mr30 {
	margin-right: 30px !important;
}

.mt32 {
	margin-top: 32px !important;
}

.mb32 {
	margin-bottom: 32px !important;
}

.ml32 {
	margin-left: 32px !important;
}

.mr32 {
	margin-right: 32px !important;
}

.mt48 {
	margin-top: 48px !important;
}

.mb48 {
	margin-bottom: 48px !important;
}

.ml44 {
	margin-left: 44px !important;
}

.ml48 {
	margin-left: 48px !important;
}

.mr48 {
	margin-right: 48px !important;
}

/* common-font-size */
.fz12 {
	font-size: 12px !important;
}

.fz14 {
	font-size: 14px !important;
}

.fz16 {
	font-size: 16px !important;
}

.fz18 {
	font-size: 18px !important;
}

.fz20 {
	font-size: 20px !important;
}

.fz22 {
	font-size: 22px !important;
}

.fz24 {
	font-size: 24px !important;
}

.fz32 {
	font-size: 32px !important;
}

/* common width */
.width100 {
	width: 100% !important;
}

.w60 {
	width: 60px !important;
}

.w70 {
	width: 70px !important;
}

.w80 {
	width: 80px !important;
}

.w100 {
	width: 100px !important;
}

.w200 {
	width: 200px !important;
}

.w300 {
	width: 300px !important;
}

/* common height */
.h20 {
	height: 20px !important;
}

.h30 {
	height: 30px !important;
}

.h40 {
	height: 40px !important;
}

.h50 {
	height: 50px !important;
}

.h100 {
	height: 100px !important;
}

.h200 {
	height: 200px !important;
}

.h300 {
	height: 300px !important;
}

.flex-1 {
	flex: 1;
}

/* common-display   */
.db {
	display: block !important;
}

.dib {
	display: inline-block !important;
}

.dfx {
	display: flex !important;
}

.dfx-aic {
	align-items: center !important;
}

.dfx-ais {
	align-items: flex-start !important;
}

.dfx-aie {
	align-items: flex-end !important;
}

.dfx-jcc {
	justify-content: center !important;
}

.dfx-jcs {
	justify-content: flex-start !important;
}

.dfx-jce {
	justify-content: flex-end !important;
}

.text-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #dedede;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	background: #f4f5f6;
}
